.LinksContainer {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background-color: cornflowerblue;
      border: none;
      border-radius: .5em;
      color: white;
      padding: 1em;
      cursor: pointer;
    }
  }

}